@using RMS.Service.DTOs.TableDTO
@model TablePostDTO
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">Create Blog</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Number" class="font-weight-600">Number</label>
                        <input class="form-control" placeholder="Number" asp-for="Number">
                        <span asp-validation-for="Number" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AmountOfSeat" class="font-weight-600">Amount Of Seat</label>
                        <input class="form-control" placeholder="AmountOfSeat" asp-for="AmountOfSeat">
                        <span asp-validation-for="AmountOfSeat" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deposite" class="font-weight-600">Deposite</label>
                        <input class="form-control" placeholder="Deposite" asp-for="Deposite"> </input>
                        <span asp-validation-for="Deposite" class="text-danger">  </span>
                    </div>
                    <div class="form-group" id="CategoryDiv">
                        <label asp-for="HallId">Hall</label>
                        <select class="form-control" name="HallId">
                            <option value="0">--Select Hall--</option>
                            @foreach (var item in ViewBag.Halls)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }
                        </select>
                    </div>


                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

